spring:
  application:
    name: eureka
  cloud:
    config:
      enabled: false
      import-check:
        enabled: false

server:
  port: 8761

eureka:
  instance:
    hostname: eureka
    prefer-ip-address: false
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://eureka:8761/eureka/
