server:
  port: 8080

spring:
  application:
    name: gateway-server
  main:
    web-application-type: reactive
  cloud:
    config:
      enabled: false
      import-check:
        enabled: false
    gateway:
      routes:
        - id: soccer-service
          uri: lb://soccer-service
          predicates:
            - Path=/soccer/**
        - id: common-service
          uri: lb://common-service
          predicates:
            - Path=/common/**
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/user/**
        - id: diary-service
          uri: lb://diary-service
          predicates:
            - Path=/diary/**
        - id: calendar-service
          uri: lb://calendar-service
          predicates:
            - Path=/calendar/**
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:3000"
              - "http://frontend:3000"
              - "http://127.0.0.1:3000"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
              - PATCH
            allowedHeaders:
              - "*"
            allowCredentials: true
            maxAge: 3600

management:
  endpoints:
    web:
      exposure:
        include: gateway,health,info
  endpoint:
    gateway:
      enabled: true

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.cloud.loadbalancer: DEBUG
    reactor.netty: DEBUG
    org.springframework.cloud.gateway.route: DEBUG

eureka:
  instance:
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: 30
    lease-expiration-duration-in-seconds: 90
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka:8761/eureka/
    registry-fetch-interval-seconds: 5
